* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: scroll-behavior 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #000;
}

.ta-c {
    text-align: center;
}

.container {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    height: 58px;
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_item {
    min-width: 60px;
    text-align: center;
    height: 58px;
}

.menu_item a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu_item a:hover {
    background-color: #ccc;
    color: #000;
}

.banner img {
    width: 100%;
    margin-top: 58px;
}

.content h1 {
    position: absolute;
    top: 30%;
    right: 0px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.event_content {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

.wapper {
    max-width: 1100px;
    margin: 0 auto;
}

.avatar {
    display: flex;
    justify-content: space-between;
}

.about_us-auth {
    max-width: 250px;
    padding: 20px;
    text-align: center;

}

.about_us-auth img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.us-auth_name {
    font-size: 20px;
    font-weight: bold;
}

.contact {
    margin-bottom: 100px;
}

.contact_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_box-input {
    max-width: 450px;
}

.info_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
}

input {
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.mess_input input {
    width: 100%;
}

.contact_box-text p i {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn_send button {
    float: right;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    box-sizing: none;
    border: none
}

.btn_send button:hover {
    background-color: #ccc;
    color: #fff;
}

.event_title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px;
}

.event_main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event_box {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.contact_title,
.severes_title {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact_des {
    margin-top: 10px;
    margin-bottom: 40px;
}

.event_box-img img {
    width: 100%;
    border-radius: 10px;
}

.box-text_title {
    font-size: 20px;
    font-weight: 600;
}

.box-text_des {
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
}

.severes_des {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
    color: #4d4d4d;

}

.severes_content {
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 16px;
    color: #464444;
}

.footer {
    background-color: #000;
    padding: 100px;
    color: #fff;
    text-align: center;
}

.link_icon {
    text-align: center;
}

.link_icon i {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 1020px) {
    .event_main {
        grid-template-columns: 1fr;
    }

    .contact_box,
    .event_box {
        width: 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .content h1 {
        display: none;
    }

    .header_menu {
        gap: 0px;
    }

    .avatar {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}